body{ 
    color: rgb(244, 238, 238);
    background: rgb(84, 82, 82);
    margin: 0px;
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
}

header {

    border-bottom: solid 2px rgb(247, 242, 240);
    padding: 20px;
    font-size: 72px;
    color: rgb(17, 16, 16);
}


.chamada {

    background: rgb(130, 113, 152);
    padding-bottom: 70px;
    padding-top: 30px;
    display: flex;
    justify-content: center ;
}

.texto-principal {

    margin-right: 15%;
}
h1{
  font-size: 50px;  
}
p{

    font-size: 15px;
}

img {
 height: 200px;

}

.categoria-filmes {
   display: flex; 
   overflow-x: auto;
   gap: 10px;
}

.categoria{

    padding-left:20px ;
    padding-right: 10px; ;
    margin-top: 50px;
}

.categoria-filmes img {

    opacity: 0.5;
}

.categoria-filmes img:hover {

opacity: 1.0;
border: 1px solid rgb(243, 246, 243);
}

.categoria h2 {

    color: rgb(65, 61, 61);
}